* {
  box-sizing: border-box;
  font-family: poppins , sans-serif;
  margin: 0;
  padding: 0;
}

.trivia-game-screen {
  align-items: center;
  background-image: linear-gradient(45deg, #eec36e, #8165e7, #cfb419, #502064);
  background-size: 300% 300%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.game-image {
  width: 30rem;
}

.game-questions {
  align-items: center;
  background-color: rgb(255, 255, 255, 0.5);
  border: 3px solid gold;
  border-radius: 10px;
  box-shadow: 0 0 3em gold;
  color: rgb(92, 0, 128);
  display: flex;
  margin: 1rem auto;
  min-height: 23em;
  min-width: 80rem;
  padding: 2rem;
}

.game-questions img {
  width: 4rem;
}

.player-header-info {
  margin: 0 2rem;
  margin-right: 5rem;
  text-align: center;
}

.correct {
  border: 3px solid rgb(6, 240, 15);
}

.wrong {
  border: 3px solid red;
}
